html {
    box-sizing: border-box;
  }
  
  *{
      box-sizing: border-box;
  }
  
  
  
  body {
    background-image: url(./images/body-bg.jpeg);
    font-family: sans-serif;
  }
  
  
  
  
  /* FORM */
  
  .search-form {
    background-color: #96AFFF;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px #fff;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .search-form__input {
    height: 40px;
    border: none;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom:10px;
    padding:3px 7px;
  
  }
  .search-form__input:active {
    box-shadow: 0 0 10px #fff;
  }
  
  .search-form__button {
    border: none;
    background-color: #5174FF;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
  }
  .search-form__button:hover {
    box-shadow: 0 0 10px #fff;
    background-color: #B8DC3B;
  }
  
  .width{
    max-width: 501px;
  }
  
  .no_return{
 
   
    color:white;
    text-align: center;
    padding:3px 7px;
    margin: 0 auto;
    font-size: 1.5rem;
    display: none;
  }


  /* GALLERY */
  
  .gallery {
    text-align: center;
    height:auto;
    max-width: 1200px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin:0px;
    padding:0px;
    margin: 0 auto;
    opacity:0
 
  }
  
  .gallery__item {
  
    width:33.33332%;
    padding:1.5px 3px;
    transition: transform .2s linear;
  }
 
  .gallery__item img {
    width:100%;
    border:2px solid white;
  }
  
  .gallery__item:hover {
    transform: scale(1.08);
    z-index:1000;
  }
  
  
  /* Ellipse */



.loader-ellips {

  display: none;

  font-size: 20px; /* change size here */

  position: relative;

  width: 4em;

  height: 1em;

  margin: 10px auto;

}



.loader-ellips__dot {

  display: block;

  width: 1em;

  height: 1em;

  border-radius: 0.5em;

  background: #fff; /* change color here */

  position: absolute;

  animation-duration: 0.5s;

  animation-timing-function: ease;

  animation-iteration-count: infinite;

}



.loader-ellips__dot:nth-child(1),

.loader-ellips__dot:nth-child(2) {

  left: 0;

}

.loader-ellips__dot:nth-child(3) { left: 1.5em; }

.loader-ellips__dot:nth-child(4) { left: 3em; }



@keyframes reveal {

  from { transform: scale(0.001); }

  to { transform: scale(1); }

}



@keyframes slide {

  to { transform: translateX(1.5em) }

}



.loader-ellips__dot:nth-child(1) {

  animation-name: reveal;

}



.loader-ellips__dot:nth-child(2),

.loader-ellips__dot:nth-child(3) {

  animation-name: slide;

}



.loader-ellips__dot:nth-child(4) {

  animation-name: reveal;

  animation-direction: reverse;

}




  @media only screen and (max-width: 1000px) {
    .gallery__item {
      width:50%;
    }
  }